## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,37.51,75,0,9.22,clear sky
1,1,Kuusamo,FI,65.9667,29.1833,48.24,100,0,3.44,clear sky
2,2,Gladstone,AU,-23.8500,151.2500,69.73,56,0,10.36,clear sky
3,3,Saint-Philippe,RE,-21.3585,55.7679,65.21,76,39,6.76,scattered clouds
4,4,Whitehorse,CA,60.7161,-135.0538,56.17,82,100,8.05,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
print("What is the minimum temperature for your vacation?")
min = int(input())
print("What is the maximum temperature for your vacation?")
max = int(input())

What is the minimum temperature for your vacation?
What is the maximum temperature for your vacation?

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
input_df = city_data_df.loc[(city_data_df["Max Temp"] < max) & (city_data_df["Max Temp"] > min)]
input_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,37.51,75,0,9.22,clear sky
1,1,Kuusamo,FI,65.9667,29.1833,48.24,100,0,3.44,clear sky
2,2,Gladstone,AU,-23.8500,151.2500,69.73,56,0,10.36,clear sky
3,3,Saint-Philippe,RE,-21.3585,55.7679,65.21,76,39,6.76,scattered clouds
4,4,Whitehorse,CA,60.7161,-135.0538,56.17,82,100,8.05,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
input_df.isnull().sum().sum()

5

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = input_df.dropna()
clean_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,37.51,75,0,9.22,clear sky
1,1,Kuusamo,FI,65.9667,29.1833,48.24,100,0,3.44,clear sky
2,2,Gladstone,AU,-23.8500,151.2500,69.73,56,0,10.36,clear sky
3,3,Saint-Philippe,RE,-21.3585,55.7679,65.21,76,39,6.76,scattered clouds
4,4,Whitehorse,CA,60.7161,-135.0538,56.17,82,100,8.05,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Punta Arenas,CL,37.51,clear sky,-53.1500,-70.9167,
1,Kuusamo,FI,48.24,clear sky,65.9667,29.1833,
2,Gladstone,AU,69.73,clear sky,-23.8500,151.2500,
3,Saint-Philippe,RE,65.21,scattered clouds,-21.3585,55.7679,
4,Whitehorse,CA,56.17,overcast clouds,60.7161,-135.0538,
5,Tiksi,RU,49.17,scattered clouds,71.6872,128.8694,
7,Hobart,AU,53.26,broken clouds,-42.8794,147.3294,
9,Yellowknife,CA,61.32,light intensity shower rain,62.4560,-114.3525,
10,Longyearbyen,SJ,46.24,broken clouds,78.2186,15.6401,
11,Saldanha,ZA,46.45,clear sky,-33.0117,17.9442,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

print("Start of API Call")
    
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] =f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    name_hotel = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_hotel["results"][0]["name"]
        print("hotel added")
    except (IndexError):
            print("hotel not found...skipping")
print("Done with API Call")

Start of API Call
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel not found...skipping
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel not found...skipping
hotel added
hotel not found...skipping
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
hotel added
Done with API Call

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Punta Arenas,CL,37.51,clear sky,-53.1500,-70.9167,Hotel Hain
1,Kuusamo,FI,48.24,clear sky,65.9667,29.1833,Hotel Kuusanka
2,Gladstone,AU,69.73,clear sky,-23.8500,151.2500,Highpoint International Hotel
3,Saint-Philippe,RE,65.21,scattered clouds,-21.3585,55.7679,Le four à pain
4,Whitehorse,CA,56.17,overcast clouds,60.7161,-135.0538,The Sternwheeler Hotel & Conference Centre

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))